@model disk.web.Models.Article.ArticlePostModels
<div class="row">
    <div class="col-md-12">
        <!--主标题-->
        <h1>@Model.Title</h1>
        <!--副标题-->
        <h2>@Model.MetaTitle</h2>
    </div>
    <div class="col-md-12">
        <!--内容-->
        @Html.Raw(Model.Body)
    </div>
    <div class="col-md-12">
        @Model.Tags
        <!--版本部分,要有相关的关键词-->
    </div>
</div>

